* {
	-webkit-tap-highlight-color:transparent
}
.styleguide,.styleguide * {
	box-sizing:border-box;
	-webkit-box-sizing:border-box
}
blockquote,body,dd,dl,dt,fieldset,form,h1,h2,h3,h4,menu,ol,p,q,ul {
	margin:0;
	padding:0
}
ol,ul {
	list-style:none
}
a,button,input {
	outline:0
}
a {
	color:inherit;
	text-decoration:none
}
a:focus,a:hover,a:visited {
	text-decoration:none;
	outline:0
}
a:active,a:hover {
	outline:0
}
html {
	-webkit-text-size-adjust:100%
}
body {
	margin:0
}
small {
	font-size:80%
}
pre {
	overflow:auto
}
button,input,optgroup,select,textarea {
	color:inherit;
	font:inherit;
	margin:0
}
button,html input[type=button],input[type=reset],input[type=submit] {
	-webkit-appearance:button
}
fieldset {
	border:1px solid silver;
	margin:0 2px;
	padding:.35em .625em .75em
}
table {
	border-collapse:collapse;
	border-spacing:0
}
td,th {
	padding:0
}
body {
	background:#f2f2f2;
	color:#3b3b3b;
	font-size:14px;
	font-family:Helvetica,Arial,"Helvetica Neue","Droid Sans","Heiti SC","Microsoft YaHei",sans-serif
}
p {
	line-height:20px
}
.-bg-lighter {
	background-color:#fff!important
}
.-bg-normal {
	background-color:#f2f2f2!important
}
.-bg-light {
	background-color:#f9f9f9!important
}
.-bg-dark {
	background-color:#eaeaea!important
}
.-bg-darker {
	background-color:#000!important
}
.-bg-brand {
	background-color:#6bb1f7!important
}
.-bg-alert {
	background-color:#ff3a2b!important
}
.-bg-transparent {
	opacity:.8!important
}
.-shadow-card {
	-webkit-box-shadow:0 2px 1px -1px rgba(0,0,0,.2)!important
}
.-shadow-dialog {
	-webkit-box-shadow:2px 2px 7px rgba(0,0,0,.4)!important
}
.-ft-small {
	font-size:12px!important
}
.-ft-base {
	font-size:14px!important
}
.-ft-middle {
	font-size:15px!important
}
.-ft-large {
	font-size:16px!important
}
.-ft-alert {
	color:#ff3a2b!important
}
.-ft-brand {
	color:#4b8ff9!important
}
.-ft-primary {
	color:#3b3b3b!important
}
.-ft-secondary {
	color:#555!important
}
.-ft-tertiary {
	color:#848484!important
}
.-ft-fourth {
	color:#cfcfcf!important
}
.-ft-fifth {
	color:#fff!important
}
.-spacing-small {
	margin-bottom:5px!important
}
.-spacing-base {
	margin-bottom:10px!important
}
.-spacing-large {
	margin-bottom:15px!important
}
.-border-round {
	-webkit-border-radius:3px;
	border-radius:3px
}
.-clearfix:after,.-clearfix:before,.clearfix:after,.clearfix:before {
	display:table;
	content:" "
}
.-clearfix:after,.clearfix:after {
	clear:both
}
.-vcenter:before {
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-4px
}
.-hcenter {
	margin-left:auto;
	margin-right:auto;
	text-align:center
}
.btn-group,.flex-row,.row {
	width:100%;
	-webkit-box-align:center;
	display:-webkit-box!important;
	display:-webkit-flex!important;
	-webkit-align-items:center
}
.-align-top.btn-group,.-align-top.flex-row,.row.-align-top {
	-webkit-box-align:start;
	-webkit-align-items:flex-start
}
.btn-group>*,.flex-row>*,.row>* {
	display:block!important;
	-webkit-box-flex:1;
	-webkit-flex:1
}
.btn-group>.-col-auto,.flex-row>.-col-auto,.row>.-col-auto {
	display:block!important;
	-webkit-box-flex:0;
	-webkit-flex:0 0 auto
}
.-col1 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:8.33333%!important
}
.-col2 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:16.66667%!important
}
.-col3 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:25%!important
}
.-col4 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:33.33333%!important
}
.-col5 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:41.66667%!important
}
.-col6 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:50%!important
}
.-col7 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:58.33333%!important
}
.-col8 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:66.66667%!important
}
.-col9 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:75%!important
}
.-col10 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:83.33333%!important
}
.-col11 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:91.66667%!important
}
.-col12 {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:100%!important
}
.card,.container {
	display:block;
	padding:10px;
	overflow:hidden
}
.card.-large,.container.-large {
	padding:15px 10px
}
.card.-compacted,.container.-compacted {
	padding:0 10px
}
.card.-lighter,.container.-lighter {
	background-color:#fff;
	color:#3b3b3b
}
.card.-light,.container.-light {
	background-color:#f9f9f9;
	color:#3b3b3b
}
.card.-normal,.container.-normal {
	background-color:#f2f2f2;
	color:#3b3b3b
}
.card.-dark,.container.-dark {
	background-color:#eaeaea;
	color:#3b3b3b
}
.container.-border {
	border-bottom:#d4d4d4 solid 1px
}
.card {
	border:1px solid #d4d4d4;
	-webkit-border-radius:3px;
	border-radius:3px
}
.btn {
	border:1px solid #d4d4d4;
	padding:0 10px;
	color:inherit;
	background-color:inherit
}
.btn:active {
	background-color:#e5e5e5
}
.btn,.btn.-large {
	height:44px;
	min-width:44px;
	font-size:15px
}
.btn.-small {
	height:36px;
	min-width:36px;
	font-size:14px
}
.btn.-mini {
	height:30px;
	min-wdith:30px;
	font-size:12px;
	padding:0 5px
}
.btn.-lighter {
	color:#3b3b3b;
	background-color:#fff
}
.btn.-lighter:active {
	background-color:#f2f2f2
}
.btn.-light {
	color:#3b3b3b;
	background-color:#f9f9f9
}
.btn.-light:active {
	background-color:#ececec
}
.btn.-brand {
	color:#fff;
	background-color:#6bb1f7;
	border-color:#6bb1f7
}
.btn.-brand:active {
	background-color:#53a4f6;
	border-color:#53a4f6
}
.btn.-alert {
	color:#fff;
	background-color:#ff3a2b;
	border-color:#ff3a2b
}
.btn.-alert:active {
	background-color:#ff2212;
	border-color:#ff2212
}
.btn.-flat {
	border:0
}
.btn.-flat:active {
	background-color:inherit;
	opacity:.2
}
a.btn {
	display:inline-block;
	text-align:center;
	overflow:hidden
}
a.btn:before {
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:0;
	margin-top:.3em
}
.btn-group .btn:not(:last-child) {
	border-right:0;
	border-top-right-radius:0;
	border-bottom-right-radius:0
}
.btn-group .btn:not(:first-child) {
	border-top-left-radius:0;
	border-bottom-left-radius:0
}
.btn-group.-flat {
	border-top:#d4d4d4 solid 1px;
	border-bottom:#d4d4d4 solid 1px
}
.btn-group.-flat .btn {
	border:0;
	border-radius:0;
	position:relative
}
.btn-group.-flat .btn:after {
	content:"";
	display:block;
	position:absolute;
	right:0;
	height:16px;
	width:1px;
	background-color:#d4d4d4;
	top:50%;
	margin-top:-.5em
}
.btn-group.-flat .btn:last-child:after {
	width:0
}
input[type=text],select {
	-webkit-border-radius:0;
	-webkit-appearance:none;
	border:0
}
.input-text {
	font-size:14px;
	border:1px solid #d4d4d4;
	position:relative
}
.input-text input[type=text] {
	width:100%;
	padding:8px
}
.input-text.-icon>.icon {
	position:absolute;
	top:50%;
	margin-top:-10px;
	left:6px;
	font-size:16px
}
.input-text.-icon input[type=text] {
	padding-left:30px
}
.input-text.-brand {
	border-color:#6bb1f7
}
.input-text.-alert {
	border-color:#ff3a2b
}
.input-group {
	position:relative;
	width:100%;
	display:-webkit-box;
	-webkit-box-pack:start
}
.input-group .input-text {
	-webkit-box-flex:1
}
.input-group .btn:first-child {
	border-right:0
}
.input-group .btn:last-child {
	border-left:0
}
.input-group .btn,.input-group .input-text {
	height:38px
}
.select-box {
	height:30px;
	font-size:14px;
	border:1px solid #d4d4d4;
	display:inline-block;
	position:relative
}
.select-box select {
	display:inline-block;
	height:100%;
	width:100%;
	padding-right:30px;
	padding-left:3px;
	background-color:#fff
}
.select-box:after {
	display:inline-block;
	font-family:mwa;
	content:"\e61b";
	-webkit-font-smoothing:antialiased;
	color:#848484;
	position:absolute;
	font-size:12px;
	right:3px;
	top:50%;
	margin-top:-8px;
	pointer-events:none
}
.wa-label {
	padding:0 4px;
	height:24px;
	line-height:24px;
	min-width:24px;
	border-radius:2px;
	color:#fff;
	background-color:#eaeaea;
	display:inline-block;
	text-align:center
}
.wa-label.-small {
	padding:0 2px;
	height:16px;
	line-height:16px;
	min-width:16px
}
.wa-label.-large {
	padding:0 8px;
	height:30px;
	line-height:30px;
	min-width:30px
}
ul.tab {
	margin:0;
	padding:0;
	width:100%;
	display:table;
	table-layout:fixed
}
ul.tab>li {
	display:table-cell;
	position:relative;
	border-bottom:#d4d4d4 solid 1px;
	font-size:15px;
	text-align:center;
	line-height:1
}
ul.tab>li:before {
	content:"";
	display:block;
	position:absolute;
	left:0;
	height:16px;
	width:1px;
	background-color:#d4d4d4;
	top:50%;
	margin-top:-.5em
}
ul.tab>li.active {
	border-bottom:0;
	color:#4b8ff9;
	background-color:#d1dcef
}
ul.tab>li.active+li:before,ul.tab>li.active:before {
	width:0;
	height:0
}
ul.tab>li:first-child:before {
	width:0
}
ul.tab>li>a {
	height:50px;
	display:block
}
ul.tab>li>a:active {
	background-color:#d1dcef
}
ul.tab>li>a:before {
	content:"";
	display:inline-block;
	height:100%;
	vertical-align:middle;
	margin-right:-4px;
	margin-top:.3em
}
.common-widget-hideoverlay {
	width:100%;
	position:fixed;
	height:100%;
	top:0;
	left:0;
	background:#f2f2f2
}
.index-widget-tabgroup {
	position:relative;
	z-index:210
}
.index-widget-tabgroup li .head-icon {
	margin-right:5px;
	color:#7a7c80;
	font-size:18px
}
.index-widget-tabgroup li.active .head-icon {
	color:inherit
}
.index-widget-tabgroup .user-info,.index-widget-tabgroup .not-login {
	width:55px;
	height:51px;
	display:block;
	border-bottom:#d4d4d4 solid 1px;
	border-left:#d4d4d4 solid 1px;
	text-align:center
}
.index-widget-tabgroup .not-login {
	line-height:51px;
	color:#3385ff
}
.index-widget-tabgroup .user-info {
	width:55px;
	height:51px;
	display:block;
	border-bottom:#d4d4d4 solid 1px;
	border-left:#d4d4d4 solid 1px;
	text-align:center
}
.index-widget-tabgroup .user-info .avatar {
	width:43px;
	height:43px;
	display:block;
	border:2px solid #fcfcfc;
	border-radius:43px;
	background:center center no-repeat;
	background-size:100% 100%;
	position:relative;
	top:4px;
	left:5px
}
.index-widget-tabgroup .user-info .default-avatar {
	margin-top:16px;
	font-size:18px;
	color:#7a7c80
}
.index-widget-searchbox {
	position:relative;
	z-index:1000
}
.index-widget-searchbox .input-wrap {
	border-radius:3px;
	border:1px solid #6bb1f7;
	z-index:1000
}
.index-widget-searchbox .search-area {
	border:0;
	height:45px
}
.index-widget-searchbox .search-area .se-input-poi {
	height:45px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px
}
.index-widget-searchbox #se-btn {
	height:45px
}
.index-widget-catcaption.container {
	padding-bottom:0
}
.index-widget-catcaption.container .caption {
	margin:0 10px
}
.caption{
display:block;
	padding:0;
	margin:5px auto 0;
	text-align:center;}
.index-widget-catcaption.container .caption .title {
	padding-right:10px
}
.index-widget-catcaption.container .caption .spliter {
	height:0;
	width:100%;
	border-top:1px solid #d4d4d4;
	border-bottom:1px solid #FFF
}
.index-widget-grid .col5-inline {
	-webkit-box-flex:0!important;
	-webkit-flex:none!important;
	width:20%!important
}
.index-widget-grid .grid {
	margin-bottom:20px
}
.index-widget-grid .grid:last-child {
	margin-bottom:0
}
.index-widget-grid .item {
	position:relative
}
.index-widget-grid a.thumbnail:active {
	background-color:inherit
}
.index-widget-grid .thumbnail .grid-caption {
	margin-top:5px
}
.index-widget-grid .thumbnail .thumb-img {
	position:relative
}
.index-widget-grid .operation-tip {
	position:absolute;
	border-radius:10px;
	background-color:#f8402a;
	color:#fff;
	display:inline-block;
	right:5px;
	top:3px;
	padding:0 3px
}
.index-widget-grid .thumbnail:active .thumb-img:after {
	content:'';
	position:absolute;
	left:0;
	top:0;
	width:53px;
	height:53px;
	border-radius:53px;
	background:#595B4F;
	opacity:.7
}
.index-widget-grid .thumbnail:active .thumb-img.ui3-subway:after,.index-widget-grid .thumbnail:active .thumb-img.ui3-bus:after,.index-widget-grid .thumbnail:active .thumb-img.ui3-taxi:after,.index-widget-grid .thumbnail:active .thumb-img.ui3-travelmore:after {
	background:#697386;
	opacity:.15
}
.index-widget-grid .item-nopadding {
	padding:0
}
.index-widget-grid .nearby-icon {
	background:url(//webmap1.bdimg.com/mobile/simple/static/index/images/index-nb-round_3e43e00.png) no-repeat 0 0;
	margin:0 auto;
	height:53px;
	width:53px;
	display:block;
	background-size:59px auto
}
.index-widget-grid .ui3-canyin {
	background-position:-3px -2px
}
.index-widget-grid .ui3-hotel {
	background-position:-3px -64px
}
.index-widget-grid .ui3-movie {
	background-position:-3px -126px
}
.index-widget-grid .ui3-sale {
	background-position:-3px -187px
}
.index-widget-grid .ui3-takeout {
	background-position:-3px -675px
}
.index-widget-grid .ui3-bank {
	background-position:-3px -553px
}
.index-widget-grid .ui3-water {
	background-position:-3px -307px
}
.index-widget-grid .ui3-oil {
	background-position:-3px -492px
}
.index-widget-grid .ui3-more {
	background-position:-3px -430px
}
.index-widget-grid .ui3-ktv {
	background-position:-3px -614px
}
.index-widget-grid .ui3-subway {
	background-position:-7px -922px
}
.index-widget-grid .ui3-streetview {
	background-position:-3px -307px
}
.index-widget-grid .ui3-nb {
	background-position:-3px -368px
}
.index-widget-grid .ui3-youhui {
	background-position:-3px -553px
}
.index-widget-grid .ui3-jingdian {
	background-position:-3px -798px
}
.index-widget-grid .ui3-taxi {
	background-position:-7px -1050px
}
.index-widget-grid .ui3-bus {
	background-position:-7px -986px
}
.index-widget-grid .ui3-caterchart {
	background-position:-3px -1111px
}
.index-widget-grid .ui3-travelmore {
	background-position:-3px -1171px
}
.index-widget-grid .ui3-gouwu {
	background-position:-3px -553px
}
.index-widget-grid .ui3-yule {
	background-position:-3px -614px
}
.index-widget-grid .ui3-plane {
	background-position:-7px -1544px
}
.index-widget-grid .ui3-busticket {
	background-position:-7px -1593px
}
.index-widget-grid .ui3-busticket.showtip {
	position:relative
}
.index-widget-grid .ui3-busticket.showtip:after {
	content:'首单减';
	font-size:12px;
	position:absolute;
	display:block;
	width:45px;
	border-radius:10px;
	background:#e10601;
	color:#fff;
	top:5px;
	right:-25px;
	text-align:center
}
.grid-no-margin.index-widget-grid a.thumbnail:active {
	opacity:.5
}
.grid-no-margin.index-widget-grid .thumbnail:active .thumb-img:after {
	width:0;
	height:0
}
.grid-no-margin.index-widget-grid .thumbnail .grid-caption {
	margin-top:0
}
.grid-no-margin.index-widget-grid .nearby-icon {
	width:45px;
	height:45px
}
.common-widget-map {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	visibility:hidden;
	z-index:-10
}
.map-holder {
	width:100%;
	height:100%;
	-webkit-tap-highlight-color:rgba(0,0,0,0)
}
.BMap_mask {
	background:transparent url("data:image/gif;
	base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAgY0hSTQAAeiYAAICEAAD6AAAAgOgAAHUwAADqYAAAOpgAABdwnLpRPAAAAAtJREFUGFdjYAACAAAFAAGq1chRAAAAAElFTkSuQmCC")
}
.BMap_noscreen {
	display:none
}
.BMap_button {
	cursor:pointer
}
.BMap_cpyCtrl a {
	font-size:11px;
	color:#7979CC
}
.BMap_scaleCtrl {
	width:70px;
	height:22px;
	bottom:10px;
	left:10px;
	-moz-user-select:none
}
.BMap_scaleCtrl div.BMap_scaleTxt {
	font-size:11px;
	font-family:Arial,sans-serif;
	white-space:nowrap
}
.BMap_scaleCtrl div {
	position:absolute
}
.BMap_scaleHBar {
	width:100%;
	height:3px;
	font-size:0;
	bottom:0;
	background-color:#000
}
.BMap_scaleLBar,.BMap_scaleRBar {
	width:1px;
	height:6px;
	bottom:0;
	font-size:0;
	background-color:#000
}
.BMap_scaleLBar {
	left:0
}
.BMap_scaleRBar {
	right:0
}
.BMap_scaleTxt {
	text-align:center;
	width:100%;
	cursor:default;
	line-height:18px
}
